
.main-background {
    -fx-background-color: #f0f0f0;
    -fx-background-image: url("../resources/pixelcut-export.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.image-button {
    -fx-background-image: url("../resources/green_button11.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-button:hover {
    -fx-background-image: url("../resources/green_button11.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

}

.image-button:pressed {
    -fx-background-image: url("../resources/green_button11.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-button:armed {
    -fx-background-image: url("../resources/green_button11.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-button:focused {
    -fx-background-image: url("../resources/green_button11.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
}

.about-button {
    -fx-background-image: url("../resources/blue_button00.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.about-button:hover {
    -fx-background-image: url("../resources/blue_button00.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.about-button:pressed {
    -fx-background-image: url("../resources/blue_button00.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.about-button:armed {
    -fx-background-image: url("../resources/blue_button00.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.about-button:focused {
    -fx-background-image: url("../resources/blue_button00.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
}

.red-button {
    -fx-background-image: url("../resources/red_button11.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.red-button:hover {
    -fx-background-image: url("../resources/red_button11.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.red-button:pressed {
    -fx-background-image: url("../resources/red_button11.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.red-button:armed {
    -fx-background-image: url("../resources/red_button11.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.red-button:focused {
    -fx-background-image: url("../resources/red_button11.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
}

