

.main-background {
    -fx-background-color: #f0f0f0;
    -fx-background-image: url("../resources/pixelcut-export.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.min-background {
    -fx-background-color: #f0f0f0;
    -fx-background-image: url("../resources/backwhite.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.image-button {
    -fx-background-image: url("../resources/green_button11.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-button:hover {
    -fx-background-image: url("../resources/green_button11.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

}

.image-button:pressed {
    -fx-background-image: url("../resources/green_button11.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-button:armed {
    -fx-background-image: url("../resources/green_button11.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-button:focused {
    -fx-background-image: url("../resources/green_button11.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
}

.about-button {
    -fx-background-image: url("../resources/blue_button00.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.about-button:hover {
    -fx-background-image: url("../resources/blue_button00.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.about-button:pressed {
    -fx-background-image: url("../resources/blue_button00.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.about-button:armed {
    -fx-background-image: url("../resources/blue_button00.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.about-button:focused {
    -fx-background-image: url("../resources/blue_button00.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
}

.red-button {
    -fx-background-image: url("../resources/red_button11.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.red-button:hover {
    -fx-background-image: url("../resources/red_button11.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.red-button:pressed {
    -fx-background-image: url("../resources/red_button11.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.red-button:armed {
    -fx-background-image: url("../resources/red_button11.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.red-button:focused {
    -fx-background-image: url("../resources/red_button11.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
}

.custom-stack-pane {
    -fx-background-color: #ededed;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 4;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 0, 5); /* Sombra */
    -fx-background-insets: 0;
}

.background-region {
    -fx-background-image: url("../resources/backwhite.jpg");
    -fx-background-radius: 10; /* Esquinas redondeadas */
    -fx-background-size: cover; /* Ajustar la imagen para cubrir completamente el area */
    -fx-background-insets: 0;
    -fx-padding: 4;
    -fx-border-radius: 10; /* Esquinas redondeadas */
}

.stack-pane .viewport {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;

}



@font-face {
    font-family: 'MikaldoBold';
    src: url('../resources/fonts/HVD Fonts  MikadoBold.otf') format('truetype');
}
@font-face {
    font-family: 'MikaldoRegular';
    src: url('../resources/fonts/HVD Fonts  MikadoRegular.otf') format('truetype');
}

.txt-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #494949;
    -fx-font-family: 'MikaldoBold';
}

.txt-subtitle {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(73, 73, 73, 0.73);
    -fx-font-family: 'MikaldoBold';
}

.txt-content {
    -fx-font-size: 12px;
    -fx-text-fill: #666;
    -fx-font-family: 'MikaldoRegular';
}

.custom-ministack-pane {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0, 0, 10);
    -fx-padding: 10;
}

.custom-ministack-pane:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 30, 0, 0, 15); /* Sombra más grande y oscura */
    -fx-translate-y: -10px; /* Elevar el StackPane */
    -fx-scale-x: 1.05; /* Aumentar ligeramente el tamaño */
    -fx-scale-y: 1.05; /* Aumentar ligeramente el tamaño */
}

